main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "VT323", monospace;
  text-align: center;
  font-size: 2em;
  color: white;
  background-color: black;
}

.player-item {
  cursor: crosshair;
}
